.cupboard {
    width: 73%;
    height: 500px;
    text-align: center;
    float: left;
}

.utilities {
    padding-bottom: 10px;
}

.needs-storage {
    border: solid;
}

.needs {
    padding: 1%;
    float: left;
}