
    <div class = "cupboard">
        <span class = "utilities">
            <span>
                Sort By: 
                <button (click)="sorting('ALPHABETICAL')">A-Z</button>
                <button (click)="sorting('ALPHABETICAL_REVERSE')">Z-A</button>
                <button (click)="sorting('NUMERICAL')">$-$$$</button>
                <button (click)="sorting('NUMERICAL_REVERSE')">$$$-$</button>
            </span>
            <span>
                <app-need-search></app-need-search>
            </span>
        </span>
        <div class = "needs-storage">
            <div class = "need">
                <app-needs></app-needs>
            </div>
        </div>
    </div>
