<div class = "left">
    <app-login></app-login>
    <div class = "about-us">
        <h3>About Us</h3><hr>
        <h5 class = "about-statement">Helping the Homeless is a compassionate and dedicated charity committed to making a meaningful difference in the lives of those experiencing homelessness. Founded in 2024, our organization operates with a clear vision of creating a community where everyone has access to safe shelter, nourishing meals, and the support needed to rebuild their lives with dignity and hope.

            At Helping the Homeless, we believe that every individual deserves a chance to thrive, regardless of their circumstances. With this belief at the core of our mission, we strive to provide comprehensive assistance to homeless individuals and families, addressing their immediate needs while empowering them to break the cycle of homelessness for good.
            
            Through collaborative efforts with local shelters, volunteers, and community partners, we work tirelessly to offer a wide range of services, including emergency housing, job training, mental health support, addiction recovery programs, and access to essential resources. Our holistic approach focuses not only on meeting basic needs but also on fostering long-term stability and independence.
            
            Driven by compassion and fueled by the generosity of our supporters, Helping the Homeless is dedicated to creating a brighter future for those who are most vulnerable in our society. Together, we can make a lasting impact and build a world where homelessness is not just managed but eradicated.</h5>
    </div>
</div>

<div class = "right">
    <img src="homeless_people.jpg" alt="Helping the homless">
    <app-inbox></app-inbox>
</div>

