/* DashboardComponent's private CSS styles */
.left {
  width: 40%;
  float: left;
  text-align: center;
}

.about-us {
  text-align: center;
  
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.right {
  text-align: center;
  width: 58%;
  float: left;
}

.about-us {
  line-height: 2;
}