node_modules

.vscode/settings.json
.idea/
docs/design-doc.iml
ufund-ui/package-lock.json
.angular/cache/17.1.3/angular-tour-of-heroes/.tsbuildinfo
.angular/cache/17.1.3/vite/deps/_metadata.json
.angular/cache/17.1.3/angular-tour-of-heroes/.tsbuildinfo
.vscode/launch.json
.angular/cache/17.1.3/angular-tour-of-heroes/.tsbuildinfo
.angular/cache/17.1.3/vite/deps/_metadata.json
.vscode/launch.json
ufund-api/pom.xml
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_common_http.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_common_http.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_common.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_common.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_core.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_core.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_forms.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_forms.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_platform-browser.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_platform-browser.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_router.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/@angular_router.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-5X7LUNTU.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-5X7LUNTU.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-332K23RV.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-332K23RV.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-M43NMAIA.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-M43NMAIA.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-PRNLISLM.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-PRNLISLM.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-UKEHM6V6.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-UKEHM6V6.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-V2DXGMIT.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-V2DXGMIT.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-ZDOIMVJD.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/chunk-ZDOIMVJD.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/package.json
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/rxjs_operators.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/rxjs_operators.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/rxjs.js
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps/rxjs.js.map
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps_temp_824ab7db/package.json
ufund-ui/ui-needs/.angular/cache/17.1.3/vite/deps_temp_70910804/package.json
etc/.~lock.team-swen-261-04-1a-tbd.xlsx#
ufund-ui/ui-needs/.editorconfig
ufund-ui/ui-needs/.gitignore
ufund-ui/ui-needs/angular.json
ufund-ui/ui-needs/package-lock.json
ufund-ui/ui-needs/package.json
ufund-ui/ui-needs/README.md
ufund-ui/ui-needs/tsconfig.app.json
ufund-ui/ui-needs/tsconfig.json
ufund-ui/ui-needs/tsconfig.spec.json
ufund-ui/ui-needs/src/favicon.ico
ufund-ui/ui-needs/src/index.html
ufund-ui/ui-needs/src/main.ts
ufund-ui/ui-needs/src/styles.css
ufund-ui/ui-needs/src/app/app-routing.module.ts
ufund-ui/ui-needs/src/app/app.component.css
ufund-ui/ui-needs/src/app/app.component.html
ufund-ui/ui-needs/src/app/app.component.spec.ts
ufund-ui/ui-needs/src/app/app.component.ts
ufund-ui/ui-needs/src/app/app.module.ts
ufund-ui/ui-needs/src/app/login.service.spec.ts
ufund-ui/ui-needs/src/app/login.service.ts
ufund-ui/ui-needs/src/app/login.ts
ufund-ui/ui-needs/src/app/message.service.spec.ts
ufund-ui/ui-needs/src/app/message.service.ts
ufund-ui/ui-needs/src/app/mock-needs.ts
ufund-ui/ui-needs/src/app/need.service.spec.ts
ufund-ui/ui-needs/src/app/need.service.ts
ufund-ui/ui-needs/src/app/need.ts
ufund-ui/ui-needs/src/app/needs-checkout.service.spec.ts
ufund-ui/ui-needs/src/app/needs-checkout.service.ts
ufund-ui/ui-needs/src/app/needs-checkout.ts
ufund-ui/ui-needs/src/app/cupboard/cupboard.component.css
ufund-ui/ui-needs/src/app/cupboard/cupboard.component.html
ufund-ui/ui-needs/src/app/cupboard/cupboard.component.spec.ts
ufund-ui/ui-needs/src/app/cupboard/cupboard.component.ts
ufund-ui/ui-needs/src/app/dashboard/dashboard.component.css
ufund-ui/ui-needs/src/app/dashboard/dashboard.component.html
ufund-ui/ui-needs/src/app/dashboard/dashboard.component.spec.ts
ufund-ui/ui-needs/src/app/dashboard/dashboard.component.ts
ufund-ui/ui-needs/src/app/funding-basket/funding-basket.component.css
ufund-ui/ui-needs/src/app/funding-basket/funding-basket.component.html
ufund-ui/ui-needs/src/app/funding-basket/funding-basket.component.spec.ts
ufund-ui/ui-needs/src/app/funding-basket/funding-basket.component.ts
ufund-ui/ui-needs/src/app/login/login.component.css
ufund-ui/ui-needs/src/app/login/login.component.html
ufund-ui/ui-needs/src/app/login/login.component.spec.ts
ufund-ui/ui-needs/src/app/login/login.component.ts
ufund-ui/ui-needs/src/app/messages/messages.component.css
ufund-ui/ui-needs/src/app/messages/messages.component.html
ufund-ui/ui-needs/src/app/messages/messages.component.spec.ts
ufund-ui/ui-needs/src/app/messages/messages.component.ts
ufund-ui/ui-needs/src/app/need-details/need-details.component.css
ufund-ui/ui-needs/src/app/need-details/need-details.component.html
ufund-ui/ui-needs/src/app/need-details/need-details.component.spec.ts
ufund-ui/ui-needs/src/app/need-details/need-details.component.ts
ufund-ui/ui-needs/src/app/need-search/need-search.component.css
ufund-ui/ui-needs/src/app/need-search/need-search.component.html
ufund-ui/ui-needs/src/app/need-search/need-search.component.spec.ts
ufund-ui/ui-needs/src/app/need-search/need-search.component.ts
ufund-ui/ui-needs/src/app/needs/needs.component.css
ufund-ui/ui-needs/src/app/needs/needs.component.html
ufund-ui/ui-needs/src/app/needs/needs.component.spec.ts
ufund-ui/ui-needs/src/app/needs/needs.component.ts
ufund-ui/ui-needs/src/app/support/support.component.css
ufund-ui/ui-needs/src/app/support/support.component.html
ufund-ui/ui-needs/src/app/support/support.component.spec.ts
ufund-ui/ui-needs/src/app/support/support.component.ts
ufund-ui/ui-needs/src/assets/.gitkeep
