.funding-basket {
    width:26%;
    height: 500px;
    float: left;
    text-align: center;
    padding-left:10px;
}

.needs-storage {
    background-color: blue;
    padding-top: 5%;
    padding-bottom: 2%;
    border: solid;
    height: 100%;
}

.need {
    padding: 2%;
    float: left;
}