<div *ngIf="permissionLevel === 'USER';" class = "funding-basket">
    <span class="badge">{{username}} Funding Basket:</span>
    <div *ngIf="!checkingOut; else Checking" class = "needs-storage"> 
        <button type="button" class="checkout" title="checkout" (click)="checkout(); ">Checkout</button>
        <div>
            <div *ngFor="let need of needs">
                <a>
                    <div>name: {{need.name}}</div>
                    <div>cost: {{need.cost}}</div>
                    <div>quantity: {{need.quantity}}</div>
                    <div>description: {{need.description}}</div>
                </a>       
                <button type="button" class="add" title="add need to cart"(click)="remove(need)">Remove</button>
            </div>
        </div>
    </div>

    <ng-template #Checking>
        <div>
            <div *ngFor="let need of needs">
                <a>
                    <span>
                        <div>{{need.name}}: ${{need.cost}}</div>
                    </span>
                </a>
            </div>
        </div>
    </ng-template>
</div>