
<div *ngIf="username === 'admin'">
    <label for="new-need">Need name: </label>
    <input id="new-need" #needName />
    <label for="new-need">Need cost: </label>
    <input type = "number" id="new-need" #needCost />
    <label for="new-need">Need quantity: </label>
    <input type = "number" id="new-need" #needQuantity />
    <label for="new-need">Need description: </label>
    <input id="new-need" #needDescription />
    <button type="button" class="add-button" (click)="add(needName.value, needCost.value, needQuantity.value, needDescription.value); needName.value=''; needCost.value=''; needQuantity.value=''; needDescription.value=''">
            Add need
    </button>
</div>


<ul class="needs">
    <div *ngFor="let need of needs">
        <div *ngIf="username === 'user';">
            <a>
                <span class="badge">{{need.id}}:</span>
                {{need.name}}
                <div>id: {{need.id}}</div>
                <div>cost: {{need.cost}}</div>
                <div>quantity: {{need.quantity}}</div>
                <div>description: {{need.description}}</div>
            </a>       
            <button type="button" class="add" title="add need to cart"(click)="addToCart(need.id)">add to cart</button>
        </div>

        <div *ngIf="username === 'admin';">
            <div *ngIf="!editing || selectedNeed !== need; else editForm">
                <a >
                    <span class="badge">{{need.id}}:</span>
                    {{need.name}}
                    <div>id: {{need.id}}</div>
                    <div>cost: {{need.cost}}</div>
                    <div>quantity: {{need.quantity}}</div>
                    <div>description: {{need.description}}</div>
                </a> 
            
                <button type="button" class="delete" title="delete need"(click)="delete(need)">x</button>
                <button type="button" class="edit" title="edit need" (click)="beginEdit(need)">
                    edit
                </button>
            </div>
        </div>

        <ng-template #editForm>
            <div *ngIf="selectedNeed && editing">
              <div>id: {{selectedNeed.id}}</div>
              <input [(ngModel)]="selectedNeed.name" placeholder="{{selectedNeed.name}}">
              <input [(ngModel)]="selectedNeed.cost" placeholder="{{selectedNeed.cost}}">
              <input [(ngModel)]="selectedNeed.quantity" placeholder="{{selectedNeed.quantity}}">
              <input [(ngModel)]="selectedNeed.description" placeholder="{{selectedNeed.description}}">
            </div>
            <button type="button" class="update" title="update need" (click)="update(need)">update</button>
          </ng-template>
          
        
        <div *ngIf="username !== 'user' && username !== 'admin'">
            <a >
                <span class="badge">{{need.id}}:</span>
                {{need.name}}
                <div>id: {{need.id}}</div>
                <div>cost: {{need.cost}}</div>
                <div>quantity: {{need.quantity}}</div>
                <div>description: {{need.description}}</div>
            </a>       
        </div>
    </div>
</ul>
