.funding-basket {
    width:26%;
    height: 500px;
    float: left;
    text-align: center;
    padding-left:10px;
}

.needs-storage {
    border: solid;
    height: 100%;
}

.need {
    padding: 1%;
    float: left;
}