<div *ngIf="permissionLevel === 'USER';" class = "funding-basket">
    <span class="badge">{{username}} Funding Basket:</span>
    <div class = "needs-storage"> 
        <button type="button" class="checkout" title="checkout" (click)="checkout(); ">Checkout</button>
        <div>
            <div *ngFor="let need of needs">
                <a>
                    <span>
                        <div>{{need.name}}({{need.quantity}}): ${{need.cost}}</div>
                    </span>
                </a>       
                <button type="button" class="add" title="add need to cart"(click)="remove(need)">Remove</button>
            </div>
            <div>Total: ${{totalPrice}}</div>
        </div>
    </div>
</div>